/* ----------------------this is video creator-------------- */
.video-created{
    color: var(--sg-bglight);
    max-width: 1000px;
    margin: 0rem auto;
    margin-bottom: 2.5rem;
    padding: 0.5rem 0rem;
}
.video-created .vc-body{
    position: relative;
    overflow: hidden;
}
.video-created .vc-body::before{
    position: absolute;
    width: 90%;
    height: 80%;
    content: "";
    bottom: 50px;
    right: 50px;
    border-radius: 500000000000rem;
    background: var(--sg-bglight);
    filter: blur(100px);
    opacity: 0.6;
    background: linear-gradient(312deg, rgb(81 6 6 / 54%) 70%, #a33bff 50%);
}
.video-created .head{
    max-height: 400px;
    overflow: hidden;
    border-radius: 0.8rem;
    position: relative;
}
.video-created .head::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    inset: 0;
    z-index: 1;
    background-image: radial-gradient(transparent, rgb(57, 2, 68));
}
.video-created .head blockquote{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    max-width: 400px;
    z-index: 2;
}
.video-created .head blockquote h2{
    font-size: 1.1rem;
}
.video-created .head blockquote svg{
    rotate: -10deg;
    width: 1.6rem;
    margin-right: 0.3rem;
}
.video-created .head blockquote svg path{
    fill: var(--sg-color-brand);
    stroke: transparent;
}
.video-created .head blockquote p{
    margin: 0.7rem 0rem;
    line-height: 1.5;
}
.video-created .head .btn{
    border-radius: 50rem;
    height: 2.8rem;
    padding: 0rem 1rem;
    color: var(--sg-bglight);
    background: linear-gradient(49deg, #000102fa 0%, #460d7f 54%);
}
.video-created .head .button .icon{
    background: linear-gradient(49deg, #000102fa 0%, #460d7f 54%);
}
.video-created .head .image{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
}
.video-created .head img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.8rem;
    scale: 1.05;
}
.video-created .foot{
    margin-top: -1rem;
    background: var(--fds-grayheadrBglaungu-00);
    border-radius: 0.8rem;
}
.video-created .foot-box{
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.video-created .foot ul{
    overflow-x: auto;
    white-space: nowrap;
}
.video-created .foot li{
    min-width: 300px;
}
.video-created .foot li:first-child{
    margin-left: 10px;
}
.video-created .foot li img{
    width: calc(100% - 10px);
    overflow: hidden;
    border-radius: 0.8rem;
}