.web-build{
    width: 100%;
    max-width: 1000px;
    margin: 0rem auto;
    margin-bottom: 4rem;
    border-radius: 0rem 0rem 0.8rem 0.8rem;
}
.web-build .row-img{
    width: 350px;
    position: relative;
    z-index: 2;
}
.web-build .ri-box{
    position: relative;
    margin: 0.5rem;
}
.web-build .wbd-con{
    position: relative;
    align-items: flex-end;
    overflow: hidden;
    border-radius: 0rem 0rem 0.8rem 0.8rem;
}
.web-build .row-text{
    position: relative;
    width: calc(100% - 400px);
    margin: 0rem 0.8rem;
}
.web-build .rt-box{
    position: relative;
    z-index: 1;
    padding: 1.5rem 0rem;
}
.web-build .rt-box h2{
    font-size: 1.2rem;
    font-weight: 600;
}
.web-build .rt-box h2 svg{
    width: 1.5rem;
    margin-right: 0.3rem;
}
.web-build .rt-box h2 svg path{
    stroke: var(--sg-bglight);
    fill: var(--sg-color-brand);
}
.web-build .rt-box blockquote p{
    display: block;
    margin: 1rem auto;
}
.web-build .rt-box blockquote p,
.web-build .rt-box li p{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6;
    color: rgb(82 82 91 / 100);
}
.web-build .rt-box li{
    margin: 0.3rem auto;
}
.web-build .rt-box li i{
    width: 1.4rem;
    height: 1.4rem;
    min-width: 1.4rem;
    margin-right: 0.5rem;
    border-radius: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    color: var(--sg-button-blue);
    background: var(--sg-bglight);
}
.web-build .rt-box li p{
    margin-left: 0.4rem;
}
.web-build .row-text::before{
    position: absolute;
    content: '';
    width: 200%;
    height: 100%;
    right: -100%;
    bottom: 0rem;
    background: linear-gradient(298deg, var(--sg-bglight) 0%, var(--sg-bgblack) 74%);
    z-index: 1;
    filter: blur(10px);
}
.web-build .rt-box .btn{
    margin: 2rem 0rem;
    background: var(--sg-bglight);
}
.web-build .wbdf .wbdf-box{
    padding: 1rem 0rem;
}
.web-build .wbdf .wbdf-box ul{
    overflow: hidden;
    overflow-x: scroll;
}
.web-build .wbdf ul li{
    width: calc(100% / 4.08);
    min-width: 245px;
    border-radius: 0.8rem;
    overflow: hidden;
    background: var(--sg-mainColor-Bluedark);
}